* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

header a {
  text-transform: capitalize;
}

body img {
  width: 450px;
}
