<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title : 'Login'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <h1>Logeese para disfrutar de la experiencia completa</h1>
    <form action="/admin">
        
        <input type="text" name="user" id="user" placeholder="Ingrese aqui su user">

        <input type="submit" value="Acceder">
    </form>
</body>
</html>