<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', { title : 'Productos'}) %> 
<body>
    <%- include('./partials/header.ejs') %>
    <h1>la lista de productos</h1>
    <img src="/images/node.jpg" width="60%">
</body>
</html>